{% extends "layout.html" %} {% block title %} Issues {% endblock %} {% block
main %}
<div class="container">
  <div class="title">
    <h3>ID {{title[0]}} : {{title[1]}}</h3>
    <h4>Issues</h4>
  </div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Message</th>
        <th>User</th>
        <th>Created On</th>
        <th>Updated On</th>
        <th>State</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% if issues %} {% for issue in issues %}
      <tr>
        <td>{{issue[0]}}</td>
        <td>{{issue[2]}}</td>
        <td>{{issue[6]}}</td>
        <td>{{issue[3]}}</td>
        <td>{{issue[4]}}</td>
        <td>{% if issue[7] == 1 %} open {% else %} close {% endif %}</td>
        <td>
          <div>
            <a href="/delete/{{issue[0]}}/{{title[0]}}">Delete</a>
          </div>
        </td>
      </tr>
      {% endfor %} {% else %}
      <tr>
        <td colspan="7">No issue: please create one below</td>
      </tr>
      {% endif %}
    </tbody>
  </table>

  <div class="issue_form">
    {% if issues %}
    <form action="/update/{{title[0]}}" method="post">
      <h4>Update Issue</h4>
      <div class="form_col">
        <select name="issue_id" required>
          <option value="" selected="true" disabled="disabled">Issue ID</option>
          {% for issue in issues %}
          <option value="{{issue[0]}}">{{issue[0]}}</option>
          {% endfor %}
        </select>
        <input
          type="text"
          name="message"
          placeholder="Message"
          class="input_wide"
        />
        <select name="state">
          <option value="" selected="true" disabled="disabled">
            Open / Close
          </option>
          <option value="1">Open</option>
          <option value="0">Close</option>
        </select>
      </div>
      <button type="submit">Update</button>
    </form>
    {% endif %}

    <form action="/create/{{title[0]}}" method="post">
      <h4>Create Issue</h4>
      <div class="form_col">
        <input
          class="input_wide"
          type="text"
          name="issue"
          placeholder="New Issue"
          required
        />
        <input type="text" name="name" placeholder="Name" required />
      </div>
      <button type="submit">Create Issue</button>
    </form>
  </div>
</div>
{% endblock %}
